*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", serif;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

.container {
    background-color: #171720;
    position:absolute;
    transform: translateY(-2%);
}

.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding: 6rem 10rem;
    justify-content: space-between;
    border-bottom: 2px solid #f4e1ac;
}

.about h1,p{
    color: #f4e1ac;
}

.about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.about a {
    display: inline;
    color: #b0825c;
    border: 2px solid #b0825c;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.headerBackground {
    position: relative;
}

nav {
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    padding:0rem 2rem;
}
nav img {
    height: 6rem;
}
nav ul {
    list-style: none;
    color: #f4e1ac;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;

}

.welcome {
    position:absolute;
    top: 15%;
    left: 5%;
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-start;
    gap: 1rem;
}

.welcome h1 {
    color: #f4e1ac;
    font-size: 56px;

}

.welcome p {
    text-align: left;
    width: 50%;
    line-height: 1.6;
    font-size: 18px;
}

.partnership {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0rem;
}

.partnership h1 p {
    color: #f4e1ac;
    padding:1rem;
}

.imgPartnership {
    display: flex;
    gap: 1.25rem;
    padding: 1.75rem;
}
.partnership img {
    background-color: #3a393f;
    border-radius: 1rem;
    width: 150px;
    height: auto;
    padding: 1.25rem;
}