.headerBackground {
    position: relative;
}

nav {
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    padding:0rem 2rem;
}
nav img {
    height: 6rem;
}
nav ul {
    list-style: none;
    color: #f4e1ac;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;

}

.welcome {
    position:absolute;
    top: 15%;
    left: 5%;
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-start;
    gap: 1rem;
}

.welcome h1 {
    color: #f4e1ac;
    font-size: 56px;

}

.welcome p {
    text-align: left;
    width: 50%;
    line-height: 1.6;
    font-size: 18px;
}