*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: "PT Sans", sans-serif;

    /* locking the viewport and forcing scrolling to happen on the body */
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", serif;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

.container {
    background-color: #171720;
    position: relative;
    min-height: 200vh;
    z-index: 2;
    /* transform: translateY(-2%); */
}

/* = HEADER = */

header, .container{
    min-height: 100vh;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
}

header::before {
    content: "";
    position: absolute;
    left: 30%;
    width: 100%;
    height: 100%;
    background: url("/images/hero-bg.webp") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    /* filter: blur(2px); */
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 9999;
    backdrop-filter: blur(6px) saturate(150%);    /* glassy */
    background-color: rgba(23, 23, 32, 0.28); /* the last one 0.28 is transperancy */
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.06); /* inset is going to the inside not outside shadow */
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding: 0rem 1rem;
}
nav img {
    height: 3rem;
    margin: 6px 0px;
}
nav ul {
    list-style: none;
    color: #f4e1ac;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;

}

.welcome {
    position:absolute;
    top: 15%;
    left: 5%;
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-start;
    gap: 1rem;
}

.welcome h1 {
    color: #f4e1ac;
    font-size: 56px;

}

.welcome p {
    text-align: left;
    width: 50%;
    line-height: 1.6;
    font-size: 18px;
}

/* = ABOUT = */
.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding: 6rem 10rem;
    justify-content: space-between;
    border-top: 2px solid #f4e1ac;
}

.about h1,p{
    color: #f4e1ac;
}

.about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.about a {
    display: inline;
    color: #b0825c;
    border: 2px solid #b0825c;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* = PARTNERSHIP = */
.partnership {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0rem;
    border-top: 2px solid #f4e1ac;
}

.partnership h1 {
    color: #f4e1ac;
    padding:1rem;
}

.partnership p {
    color: #f4e1ac;
    padding:1rem;
}

.imgPartnership {
    display: flex;
    gap: 1.25rem;
    padding: 1.75rem;
}
.partnership img {
    background-color: #3a393f;
    border-radius: 1rem;
    width: 150px;
    height: auto;
    padding: 1.25rem;
}

/* = TEAM BATLLES = */
.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: #fff8f0;
}
.schedule h1{
    color: #b0825c;
    font-family: "PT Sans", sans-serif;
}

.schedule p {
    color: black;
    padding: 2rem;
}

.teamBattles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;

}
.teamBattles a {
    background-color: #f4e3d0;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border-left: 5px solid #b0825c;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 1rem;
}

/* = FOOTER INFO = */
.info {
    background-color: #171720;
    border-bottom: 2px solid #39393f;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;

}

.info li {
    list-style: none;
    padding-bottom: 2px;
}
.info h3 {
    color: #f8f4f8;
    padding-bottom: 2rem;
}
.info a {
    text-decoration: none;
    color: #a498a8;
}

footer {
    background-color: #171720;
}

footer p {
    color: #a498a8;
    text-align: center;
    padding: 0.75rem;
}

